@import url("https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800,900|Dancing+Script:400,700|Indie+Flower|Lora:400,700|Mansalva|Roboto:300,400,500,700,900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
    background-color: #F2F2F2;
    margin: 0px;
    color: rgb(30,30,30);
}

a{
	text-decoration: none;
}